
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body{
	font-size: 16px;
	font-family: 'Karla', sans-serif;
	background-color: #cae8d5;
}

.row {
	height: 45vh;
}

.container{
	margin: 50px auto;
	width: 45%;
}

.column {
	width: 50%;
	height: 100%;
	text-align: left;
	padding: 10px 30px;
	background-color:#aaa;
	float: left;
	position: relative;
  }
  
  
  .div1{
	width: 100%;
	padding: 10px 30px;
	text-align: left;
	background-color: white;
	line-height: 1.5;
  }
  

.sub-heading{
	font-weight: 700;
	font-size: 1rem;
	color: hsl(71, 73%, 54%);
}

h2{
	font-weight: 700;
	font-size: 1.5rem;
	color: hsl(179, 62%, 43%);
}

.firstpara{
	font-size: 0.9rem;
	font-weight: 700;
	color: hsl(218, 22%, 67%);
}

.div2{
	background-color: hsl(179, 62%, 43%);
}

.div3{
	background-color: #77d8d8;
}

span{
	color: white;
	font-size: 2rem;
	margin-right: 10px;
}

.price{
	font-size: 0.9rem;
	color: #ccc;
	display: flex;
	align-items: center;
	font-weight: 100;
	margin-bottom: 5px;
}

h3{
	color: white;
}

button{
	width: 100%;
	border-radius: 5px;
	border-style: none;
	background-color: hsl(71, 73%, 54%);
	color: white;
	margin: 20px auto;
	padding-top: 12px;
	padding-bottom: 13px;
}

.reason, h4{
	color: #eee;
	font-size: 0.9rem;
	font-weight: 200;
	line-height: 1.5;
}

.validity{
	margin-top: 0;
}

/* Mobile */
@media only screen and (max-width: 600px) {
	.column{
	  width: 100%;
	}
		
	.container{
		margin: auto;
		width: 75%;
	}

	.row {
		height: inherit;
	}
}
  
  /* Tablet */
  @media only screen and (min-width: 600px) and (max-width: 800px) {
		  
	  .container{
			  width: 75% !important;
	  }
	  /* .row {
		height: inherit;
		} */
	  
	}
  
  /* @media screen and (min-width: 601px) {
	.container{
	  width: 45%;
	  margin: auto;
	}
  
  } */